/* GLOBAL CSS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap");

/* Typo */
* {
  font-family: "Poppins", sans-serif;
}

/* Reset */
html,
body,
#root {
  height: 100%;
  padding: 0;
  margin: 0;
}

/* Layout */
#root {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* Universal Box Sizing with Inheritance */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Slick carousel fix */
/* https://stackoverflow.com/questions/65477733/react-slick-slider-href-always-points-to-the-same-link */
.slick-slide {
  visibility: hidden;
}
.slick-slide.slick-active {
  visibility: visible;
}

/* Link style reset */
a {
  text-decoration: none;
  color: initial;
}

/* Selection */
::selection {
  background-color: black;
  color: white;
}
